{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "extends": [
    "@tencent/eslint-config-tencent",
    "@tencent/eslint-config-tencent/ts",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "prettier",
    "prettier/vue",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["vue", "@typescript-eslint"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "parser": "@typescript-eslint/parser",
    "extraFileExtensions": [".vue"],
    "sourceType": "module"
  },
  "rules": {
    "camelcase": 0,
    "no-new": 1,
    "new-cap": 0,
    "max-len": 0,
    "prefer-destructuring": 0,
    "no-underscore-dangle": 0,
    "func-style": 0,
    "no-console": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": false
        }
      }
    ]
  }
}
