node_modules
_site
.DS_Store
package
tmpfile*
coverage
test-report.html
*.zip

# build files
es/
esm/
lib/
dist/
typings/

# lock
yarn.lock
package-lock.json

# editor
.idea/
.vscode/
.history/

Dockerfile
robotMsg.json
