@import "../vars.less";
@import "../mixins/index.less";

.tdesign-demo-button-base {
  background-color: #fbfbfb;
  .t-button {
    // display: block;
    margin-bottom: 10px;
  }
  .t-cell{
    background-color: #f5f5f5;
  }
}

.tdesign-demo-iconfont {
  .tdesign-demo-icon {
    display: inline-block;
    width: 25%;
    text-align: center;
    .t-icon {
      color: inherit;
      font-size: 28px;
    }
    p {
      margin: 10px 0;
      .text-ellipsis();
    }
  }
}
.cell-base{
  background-color: #fbfbfb;
}
