@import '../vars.less';
@import '../mixins/index.less';
@import './components.less';
@import './demo.less';

body {
  background-color: #F8F8F8;
}

#app {
  height: 100%;
  z-index: 0;
  background-color: @body-background;
}

.tdesign-demo-home {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 46px 20px 20px;
  background: #fff;
  & h1{
    padding-bottom:16px;
    font-size: 24px;
  }
  &-navlink{
    position: relative;
    display: flex;
    width: 100%;
    padding-left: 20px;
  }
  &-navs {
    position: relative;
    display: flex;
    margin: 0 0 12px;
    color: #323233;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    background: #f7f8fa;
    & a {
      text-decoration: none;
      color: #323233
    }
  }
}


.tdesign-demo-topnav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #fff;
  box-shadow: @shadow-level-1;
  &-title{
    font-size: 18px;
  }
  &__back{
    position: absolute;
    left: 16px;
    font-size: 24px;
    cursor: pointer;
  }
}
