.swiperbtn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  color: #fff;
  & > .t-icon {
    transform: scale(0.8);
    position: relative;
    left: -1px;
    top: -2px;
  }
  &.btn-prev {
    left: 10px;
  }
  &.btn-next {
    right: 10px;
  }
}
