@import "../vars.less";
@import "../mixins/index.less";


.@{prefix}-demo-block {
  .t-button {
    margin-right:10px;
  }
}

.@{prefix}-demo-tag {
  .t-tag + .t-tag {
    margin-left: 8px;
  }
  .container{
    background-color: #fff;
    padding: 16px;
  }
}

.@{prefix}-demo-dropdown-menu {
  position: relative;
  background: #fff;
  // 为下拉菜单预留空间
  height: 400px;
  // 避免切换 overflow: hidden 时 margin 折叠变化产生抖动
  padding: 1px 0;

  p {
    font-size: 14px;
    line-height: 1.4;
    margin: 1em .5em;
  }

  &.relative-container {
    transform: translate(0, 0);
  }
}

.@{prefix}-demo-svg,.@{prefix}-demo-iconfont {
  .t-icon {
    margin-right: 24px;
  }
}

.tdesign-demo-icon {
  width: 130px;
  height: 100px;
  margin-right: 24px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  .t-icon {
    font-size: 25px;
    margin-right: 0;
    color: #999999;
    transition: all .2s;
  }
  .t-icon:hover {
    color: #0052d9;
    font-size: 30px;
    transition: all .2s;
  }
  .tdesign-demo-icon-name {
    text-align: center;
    margin-top: 8px;
    font-size: 12px;
  }
}