@import "../vars.less";
@import "../mixins/index.less";


.@{prefix}-demo-block{
  .t-button {
    margin-right:10px;
  }
}

.@{prefix}-demo-icon {
  .@{prefix}-demo-icon-iconbox {
    display: inline-block;
    width: 90px;
    height: 90px;
    text-align: center;
    .t-icon {
      color: inherit;
      font-size: 28px;
    }
    p {
      margin-top: 10px;
      .text-ellipsis();
    }
  }
}

.@{prefix}-demo-tag{
  .t-tag + .t-tag {
    margin-left: 8px;
  }
  .container{
    background-color: #fff;
    padding: 16px;
  }
}

